<f:layout name="Backend"/>
This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="header"></f:section>

</f:section>

<f:section name="title">Your PUMA/BibSonomy Authentication</f:section>

<f:section name="main">
    <div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
         f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">


        <f:section name="title">Edit your authentication settings</f:section>
        <f:form action="show">
            <f:form.textfield property="hostUserName" size="50" style="width: 80%"
                              placeholder="Insert your PUMA/BibSonomy user name"/>
            <br/>
            <f:form.textfield property="hostApiKey" size="50" style="width: 80%"
                              placeholder="Insert your PUMA/BibSonomy API Key"/>
            <br/>
            <hr/>

            <p>AccessToken</p>
            <f:form.checkbox property="enableAccessToken"/>

            AccessToken date {auth.create_date}

            <f:form.submit title="Save CSL Style" value="Save CSL Style"/>
        </f:form>
    </div>
</f:section>