{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}

<f:if condition="{post.resource.entrytype} == 'article'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        <f:if condition="{post.resource.journal}"> in
            <f:render partial="Journal" arguments="{post: post}"/>
        </f:if>
        <f:render partial="VolumeNumberPages" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>

<f:if condition="{post.resource.entrytype} == 'book'">
    <f:then>
        <f:if condition="{post.resource.author}">
            <f:then>
                <bib:Author author="{post.resource.author}"/>
            </f:then>
            <f:else>
                <bib:Author author="{post.resource.editor}"/>
                (
                <f:translate key="fe.details.editor"/>
                )
            </f:else>
        </f:if>
        .
        <f:render partial="Series" arguments="{post: post}"/>
        <f:render partial="Publisher" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Edition" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>

<f:if condition="{post.resource.entrytype} == 'inbook'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        .
        <f:render partial="VolumeOfSeries" arguments="{post: post}"/>
        <f:render partial="Chapter" arguments="{post: post}"/>
        <f:render partial="Page" arguments="{post: post}"/>
        <f:render partial="Publisher" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Edition" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>

<f:if condition="{post.resource.entrytype} == 'booklet'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        .
        <f:render partial="Howpublished" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>

<f:if condition="{post.resource.entrytype} == 'incollection'">
    <f:then>
        in
        <f:render partial="Booktitle" arguments="{post: post}"/>
        <bib:CleanOut value=". "/>
        <f:if condition="{post.resource.editor}">
            <bib:Author author="{post.resource.editor}"/>
            (
            <f:translate key="fe.details.editor"/>
            ),
        </f:if>
        <f:render partial="VolumeOfSeries" arguments="{post: post}"/>
        <f:render partial="Chapter" arguments="{post: post}"/>
        <f:render partial="Publisher" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Edition" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Page" arguments="{post: post}"/>
    </f:then>
</f:if>

<f:if condition="{post.resource.entrytype} == 'inproceedings'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        in
        <f:render partial="Booktitle" arguments="{post: post}"/>
        <f:if condition="{post.resource.editor}">
            <bib:Author author="{post.resource.editor}"/>
            (
            <f:translate key="fe.details.editor"/>
            ),
        </f:if>
        <f:render partial="VolumeOfSeries" arguments="{post: post}"/>
        <f:render partial="Page" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Organization" arguments="{post: post}"/>
        <f:render partial="Publisher" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>
<f:if condition="{post.resource.entrytype} == 'manual'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        .
        <f:render partial="Organization" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Edition" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>
<!--
    Only works for TYPO3 v8+
    f:if condition="({post.resource.entrytype} == 'mastersthesis') || ({post.resource.entrytype} == 'phdthesis')"
-->
<bib:ExtendedIf condition="{post.resource.entrytype} == 'mastersthesis'" or="{post.resource.entrytype} == 'phdthesis'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        ,
        <f:render partial="School" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Type" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</bib:ExtendedIf>
<f:if condition="{post.resource.entrytype} == 'proceedings'">
    <f:then>
        <f:if condition="{post.resource.author}">
            <f:then>
                <bib:Author author="{post.resource.author}"/>
            </f:then>
            <f:else>
                <bib:Author author="{post.resource.editor}"/>
                (
                <f:translate key="fe.details.editor"/>
                )
            </f:else>
        </f:if>
        ,
        <f:render partial="VolumeOfSeries" arguments="{post: post}"/>
        <f:render partial="Page" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Organization" arguments="{post: post}"/>
        <f:render partial="Publisher" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>
<f:if condition="{post.resource.entrytype} == 'techreport'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        .
        <f:render partial="Type" arguments="{post: post}"/>
        <f:render partial="Volume" arguments="{post: post}"/>
        <f:render partial="Institution" arguments="{post: post}"/>
        <f:render partial="Address" arguments="{post: post}"/>
        <f:render partial="Year" arguments="{post: post}"/>
    </f:then>
</f:if>
<f:if condition="{post.resource.entrytype} == 'unpublished'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        .
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>

<f:if condition="{post.resource.entrytype} == 'presentation'">
    <f:then>
        <bib:Author author="{post.resource.author}"/>
        ,
        <f:render partial="Year" arguments="{post: post}"/>
        <f:render partial="Note" arguments="{post: post}"/>
    </f:then>
</f:if>
