{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:if condition="{post.resource.edition}">
    <em>
        <bib:CleanOut value="{post.resource.edition}"/>
        <f:translate key="bibtex.edition"/>
    </em>
    <bib:CleanOut value=" "/>
</f:if>