<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
            <div class="error">
                <f:for each="{errors}" as="error">
                    {error.message}

                    <f:if condition="{error.propertyName}">
                        <p>
                            <strong>{error.propertyName}</strong>:
                            <f:for each="{error.errors}" as="errorDetail">
                                {errorDetail.message}
                            </f:for>
                        </p>
                    </f:if>
                </f:for>
            </div>
        </f:for>
    </f:if>
</f:form.validationResults>
