{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:if condition="{post.resource.pages}">
    <em>
        <f:translate key="bibtex.pages"/>
        <bib:CleanOut value="{post.resource.pages}"/>
    </em>
    <bib:CleanOut value=". "/>
</f:if>