{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}

<!--
    Only works for TYPO3 v8+
    f:if condition="{post.resource.volume} && {post.resource.series}"
-->

<bib:ExtendedIf condition="{post.resource.volume}" and="{post.resource.series}">
    <f:then>
        <em>
            <f:translate key="bibtex.volume"/>
            &nbsp;
            <bib:CleanOut value="{post.resource.volume}"/>
            &nbsp;
            <f:translate key="bibtex.volumeOf"/>
            &nbsp;
            <bib:CleanOut value="{post.resource.series}"/>
        </em>
    </f:then>
</bib:ExtendedIf>

<f:if condition="{post.resource.volume}">
    <f:then>
        <em>
            <bib:CleanOut value=" "/>
            <bib:CleanOut value="{post.resource.volume}"/>
        </em>
        <bib:CleanOut value=", "/>
    </f:then>
    <f:else>
        <f:if condition="{post.resource.number}">
            <f:then>
                <em>&nbsp;
                    <bib:CleanOut value="{post.resource.number}"/>
                </em>
                <bib:CleanOut value=", "/>
            </f:then>
        </f:if>
    </f:else>
</f:if>
