<f:layout name="Default"/>
This Template is responsible for creating a table of domain objects.
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
    <f:section name="main">
        <f:flashMessages/>
        <!-- <div id="trailimageid"><f:image src="EXT:ext_bibsonomy_csl/Resources/Public/Icons/loading.gif" id="ttimg" alt="loading" /></div> -->
        <!-- css attribute for list -->
        <div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
             f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
            <div class="bibsonomy_publications">
                <f:if condition="{inlineFilter}">
                    <f:format.html parseFuncTSPath="">
                        <bib:PublicationFilter rawPostsMap="{rawPostsMap}"/>
                    </f:format.html>
                </f:if>
                <!-- Citation Style: {citationStylesheet.title}, {citationStylesheet.id} -->
                <f:if condition="{grouping} != 'none'">
                    <f:if condition="{displayJumpLabels}">
                        <f:then>
                            <div class="tx-extbibsonomycsl-jump-list" id="tx-extbibsonomycsl-list-{listHash}">
                                <f:for each="{posts}" as="groups" key="group">
                                    <span class="tx-extbibsonomycsl-jump-item">
                                        <f:if condition="{grouping} == 'type'">
                                            <f:then>
                                                [
                                                <a href="{url}#jmp_{group}">
                                                    <f:translate
                                                            key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xlf:entrytype.{group}.short"/>
                                                </a>
                                                ]
                                            </f:then>
                                            <f:else>
                                                [ <a href="{url}#jmp_{group}">{group}</a> ]
                                            </f:else>
                                        </f:if>
                                    </span>
                                </f:for>
                            </div>
                        </f:then>
                    </f:if>
                </f:if>
                <f:if condition="{authorLinks}">
                    <f:format.html parseFuncTSPath="">
                        <bib:PrintAuthorLinks mode="{authorLinksMode}" authorLinkMap="{authorLinkMap}"
                                              cslname="{citationStylesheet.title}"/>
                    </f:format.html>
                </f:if>
                <f:for each="{posts}" as="groups" key="group">
                    <f:if condition="{grouping} != 'none'">
                        <f:then>
                            <p class="tx-extbibsonomy-csl-group" id="jmp_{group}">
                                <f:if condition="{grouping} == 'type'">
                                    <f:then>
                                        <f:translate
                                                key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xlf:entrytype.{group}"/>
                                    </f:then>
                                    <f:else>
                                        <span>{group}</span>
                                    </f:else>
                                </f:if>
                                <f:if condition="{displayJumpLabels}">
                                    <f:then>
                                        <small style="font-weight:normal;">
                                            [
                                            <a href="{url}#tx-extbibsonomycsl-list-{listHash}">
                                                <f:translate
                                                        key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang.xlf:fe.list.link.toTop"/>
                                            </a>
                                            ]
                                        </small>
                                    </f:then>
                                </f:if>
                            </p>
                        </f:then>
                    </f:if>
                    <ul>
                        <f:for each="{groups}" as="post">
                            <!-- css attribute for list item -->
                            <li class="tx-extbibsonomycsl-publication">
                                <f:if condition="{thumbDocument}">
                                    <f:if condition="{post.documents -> f:count()} > 0">
                                        <f:then>
                                            <div class="tx-extbibsonomycsl-preview-thumb">
                                                <f:format.html parseFuncTSPath="">
                                                    <bib:CslThumbnailRenderer post="{post}" preview="small" width="57"
                                                                              linkDocument="{linkDocument}"/>
                                                </f:format.html>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <div class="tx-extbibsonomycsl-preview-thumb">
                                                <span>
                                                    <f:format.html parseFuncTSPath="">
                                                        <bib:CslThumbnailRendererDummy
                                                                type="{post.resource.entrytype}"/>
                                                    </f:format.html>
                                                </span>
                                            </div>
                                        </f:else>
                                    </f:if>
                                </f:if>
                                <div class="{f:if(condition: thumbDocument, then: 'tx-extbibsonomycsl-rendered-pub thumb-margin', else: 'tx-extbibsonomycsl-rendered-pub')}">
                                    <f:format.html parseFuncTSPath="">
                                        <bib:CslPublicationRenderer post="{post}"
                                                                    xmlSource="{citationStylesheet.xmlSource}"
                                                                    lang="{renderLanguage}"/>
                                    </f:format.html>
                                    <f:if condition="{showNotes}">
                                        <f:format.html parseFuncTSPath="">
                                            <bib:PrintNote post="{post}"/>
                                        </f:format.html>
                                    </f:if>
                                </div>
                                <div class="tx-extbibsonomycsl-bib-links">
                                    <f:if condition="{linkHost}">
                                        <f:format.html parseFuncTSPath="">
                                            <bib:LinkHost post="{post}"/>
                                        </f:format.html>
                                    </f:if>
                                    <f:if condition="{linkAbstract}">
                                        <f:if condition="{post.resource.bibtexAbstract}">
                                            <span class="tx-extbibsonomycsl-bib-link abstract">
                                                [
                                                <a rel="abs-{post.resource.intraHash}" href="javascript:void(0)">
                                                    <f:translate key="fe.list.link.abstract"/>
                                                </a>
                                                ]
                                            </span>
                                        </f:if>
                                    </f:if>
                                    <f:if condition="{linkBibtex}">
                                        <span class="tx-extbibsonomycsl-bib-link bib-link-no-lowercase bibtex">
                                            [
                                            <a rel="bib-{post.resource.intraHash}" href="javascript:void(0)">
                                                <f:translate key="fe.list.link.bibtex"/>
                                            </a>
                                            ]
                                        </span>
                                    </f:if>
                                    <f:if condition="{linkEndnote}">
                                        <span class="tx-extbibsonomycsl-bib-link bibtex">
                                            [
                                            <a rel="end-{post.resource.intraHash}" href="javascript:void(0)">
                                                <f:translate key="fe.list.link.endnote"/>
                                            </a>
                                            ]
                                        </span>
                                    </f:if>
                                    <f:if condition="{linkUrl}">
                                        <f:if condition="{post.resource.URL}">
                                            <span class="tx-extbibsonomycsl-bib-link url">
                                                [
                                                <a target="_blank" href="{post.resource.URL}">
                                                    <f:translate key="fe.list.link.url"/>
                                                </a>
                                                ]
                                            </span>
                                        </f:if>
                                    </f:if>
                                    <f:if condition="{linkDoi}">
                                        <f:format.html parseFuncTSPath="">
                                            <bib:LinkDoi post="{post}" details="false"/>
                                        </f:format.html>
                                    </f:if>
                                    <f:if condition="{authorLinks}">
                                        <f:format.html parseFuncTSPath="">
                                            <bib:PrintAuthorLinkWithModal post="{post}" mode="{authorLinksMode}"
                                                                          authorLinkMap="{authorLinkMap}"/>
                                        </f:format.html>
                                    </f:if>
                                    <f:if condition="{linkMisc}">
                                    	<f:format.html parseFuncTSPath="">
                                        	<bib:GenerateLinksFromMiscFields post="{post}" settings="{settings}"/>
                                        </f:format.html>
                                    </f:if>
                                    <f:if condition="{linkDocument}">
                                        <f:if condition="{post.documents}">
                                            <f:alias
                                                    map="{userName: post.user.name, intraHash: post.resource.IntraHash, fileName: post.documents.0.fileName}">
                                                <span class="tx-extbibsonomycsl-bib-link url">
                                                    [
                                                    <a target="_blank"
                                                       href="{f:uri.action(action:'download', arguments:{userName: userName, intraHash: intraHash, fileName: fileName}, controller: 'Document')}"
                                                       title="Download - {post.resource.title}">
                                                        <f:translate key="fe.list.link.download"/>
                                                    </a>
                                                    ]
                                                </span>
                                            </f:alias>
                                        </f:if>
                                    </f:if>
                                    <f:if condition="{enableDetailsPage}">
										<span class="tx-extbibsonomycsl-bib-link tx-extbibsonomycsl-details-link">
                                            [
                                            <a rel="det-{post.resource.intraHash}" href="javascript:void(0)">
                                                <f:translate key="fe.list.link.details"/>
                                            </a>
                                            ]
                                        </span>
                                    	<!-- 
                                        <f:format.html parseFuncTSPath="">
                                            <bib:PrintDetailsModal post="{post}"/>
                                        </f:format.html>
                                         -->
                                    </f:if>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <f:if condition="{linkAbstract}">
                                    <f:if condition="{post.resource.bibtexAbstract}">
                                        <div class="tx-extbibsonomycsl-bib-collapse tx-extbibsonomycsl-pub-abstract"
                                             style="display:none;" id="abs-{post.resource.intraHash}">
                                            <f:format.nl2br>{post.resource.bibtexAbstract}</f:format.nl2br>
                                        </div>
                                    </f:if>
                                </f:if>
                                <f:if condition="{linkBibtex}">
                                    <div class="tx-extbibsonomycsl-bib-collapse tx-extbibsonomycsl-pub-bibtex"
                                         style="display:none;" id="bib-{post.resource.intraHash}">
                                        <f:if condition="{escapeBibtex}">
                                            <f:then>
                                                <f:if condition="{htmlencodeBibtex}">
                                                    <f:then>
                                                        <textarea readonly
                                                                  class="tx-extbibsonomycsl-pub-bibtex-content tx-extbibsonomycsl-bibtex-htmlencode"
                                                                  style="width: 100%" cols="40" rows="6"><bib:renderer
                                                                post="{post}" rawPostsMap="{rawPostsMap}"
                                                                type="bibtex-encoded"/></textarea>
                                                    </f:then>
                                                    <f:else>
                                                        <textarea readonly class="tx-extbibsonomycsl-pub-bibtex-content"
                                                                  style="width: 100%" cols="40" rows="6"><bib:renderer
                                                                post="{post}" rawPostsMap="{rawPostsMap}"
                                                                type="bibtex"/></textarea>
                                                    </f:else>
                                                </f:if>
                                            </f:then>
                                            <f:else>

                                                <f:if condition="{htmlencodeBibtex}">
                                                    <f:then>
                                                            <textarea readonly style="width: 100%" cols="40" rows="6">
                                                                <bib:renderer
                                                                        post="{post}" rawPostsMap="{rawPostsMap}"
                                                                        type="bibtex-encoded"/>
                                                            </textarea>
                                                    </f:then>
                                                    <f:else>
                                                            <textarea readonly
                                                                      class="tx-extbibsonomycsl-bibtex-htmlencode"
                                                                      style="width: 100%" cols="40" rows="6">
                                                                <bib:renderer post="{post}" rawPostsMap="{rawPostsMap}"
                                                                              type="bibtex"/></textarea>
                                                    </f:else>
                                                </f:if>

                                            </f:else>
                                        </f:if>
                                    </div>
                                </f:if>
                                <f:if condition="{linkEndnote}">
                                    <div class="tx-extbibsonomycsl-bib-collapse tx-extbibsonomycsl-pub-endnote"
                                         style="display:none;" id="end-{post.resource.intraHash}">
                                        <textarea style="width: 100%" cols="40" rows="6"><bib:renderer post="{post}"
                                                                                                       rawPostsMap="{rawPostsMap}"
                                                                                                       type="endnote"/></textarea>
                                    </div>
                                </f:if>
                                
                                
                                <f:if condition="{enableDetailsPage}">
                                	<div class="tx-extbibsonomycsl-bib-collapse tx-extbibsonomycsl-pub-details"
                                         style="display:none;" id="det-{post.resource.intraHash}">
										<f:format.html parseFuncTSPath="">
											<bib:PublicationDetails post="{post}"/>
										</f:format.html>
									</div>
								</f:if>
                                
                                
                                
                            </li>
                        </f:for>
                    </ul>
                </f:for>
                </ul>
            </div>
        </div>
    </f:section>
</div>

