<label for="id">
    <f:translate key="tx_extbibsonomycsl_domain_model_citationstylesheet.id"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield property="id"/><br/>
<label for="title">
    <f:translate key="tx_extbibsonomycsl_domain_model_citationstylesheet.title"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield property="title"/><br/>
<label for="xmlSource">
    <f:translate key="tx_extbibsonomycsl_domain_model_citationstylesheet.xml_source"/>
    <span class="required">(required)</span>
</label><br/>
<f:form.textfield property="xmlSource"/><br/>