<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="main">

    <f:flashMessages/>

    <div class="tx-extbibsonomycsl-tagcloud" style="text-align: center;margin-bottom:1em;">
        <f:format.html parseFuncTSPath="">
            <bib:CslTagCloud maxcount="{maxcount}" tags="{tags}"/>
        </f:format.html>
        <div style="clear: left;"></div>
    </div>

</f:section>