.csl-autocomplete {
    font-size: 1.2em;
    line-height: 1.5;
}

.tt-suggestion {
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
    border-top: 1px #efefef solid;
    border-right: 1px #efefef solid;
    border-bottom: 0;
    border-left: 1px #efefef solid;
    background-color: #fff;
}

.tt-suggestion:last-child {
    border-bottom: 1px #efefef solid;
}

.tt-selectable {
    cursor: pointer;
}

.tt-cursor {
    background-color: #efefef;
    border-left: 3px #333333 solid;
    padding-left: 8px;
}