/*
    CSS Document
    Created on : 22.02.2014, 14:53:49
    Author     : Sebastian Böttger <boettger@cs.uni-kassel.de>
*/

/* Publication */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bibsonomy_publications ul,
.bibsonomy_publications ul li {
    list-style: none !important;
    padding-left: 0;
    margin-left: 0;
}

.bibsonomy_publications ul li {
    margin-bottom: 1.5em;
}

.tx-extbibsonomy-csl-author-links {
    display: none !important;
}

.tx-extbibsonomycsl-bib-notes {
    overflow: hidden;
    padding-right: 1px;
}

.tx-extbibsonomycsl-bib-links {
    float: right;
    clear: right;
}

.tx-extbibsonomycsl-bib-link {
    display: inline-block;
    font-size: 1.1em;
    line-height: 2em;
    margin-left: 1.5em;
    text-transform: lowercase;
}

.bib-link-no-lowercase {
    text-transform: none;
}

.tx-extbibsonomycsl-jump-item {
    display: inline-block;
    font-size: 1.1em;
    line-height: 2em;
    margin-right: 1em;
}

.tx-extbibsonomycsl-pub-abstract,
.tx-extbibsonomycsl-pub-bibtex {
    margin-bottom: 1em;
    padding: 0.5em 0 1em 1em;
    border-left: #ccc 1px solid;
    display: none;
}

.tx-extbibsonomycsl-pub-bibtex > textarea {
    resize: none;
}

.tx-extbibsonomycsl-pub-details {
	margin-bottom: 1em;
    padding: 0.5em 0 1em 1em;
    border-left: #ccc 1px solid;
	display: none;
}

.tx-extbibsonomy-csl-group {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
    text-align: left;
    margin-top: 2.5em;
    clear:both;
}

p.tx-extbibsonomy-csl-group small {
    float: right;
}

/* Thumbnails */
#trailimageid {
    position: absolute;
    display: none;
    left: 0px;
    top: -1000px;
    border: 1px solid #ccc;
    background: #efefef;
    border-radius: 3px;
    z-index: 1000;
}

.bibsonomy_publications ul {
    width: 100%;
}

div.tx-extbibsonomycsl-preview-thumb {
    box-sizing: border-box;
    position: absolute;
    height: 85px;
}

.thumb-margin {
    margin-left: 80px;
    min-height: 90px;
}

div.tx-extbibsonomycsl-preview-thumb a,
div.tx-extbibsonomycsl-preview-thumb span {
    background-color: #efefef;
    border: #ccc 1px solid;
    border-radius: 2px;
    padding: 3px;
    display: block;
    margin: 0 1em 0.5em 0;
    overflow: hidden;
    max-width: 65px;
}

div.tx-extbibsonomycsl-preview-thumb img {
    font-size: 12px;
}

#tx-extbibsonomycsl-detailstable {
    width: 100%;
    margin-top: 2em;
}

#tx-extbibsonomycsl-detailstable tr > td:first-child {
    width: 33%;
}

#tx-extbibsonomycsl-detailstable caption {
    background: #999;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#tx-extbibsonomycsl-detailstable,
#tx-extbibsonomycsl-detailstable td {
    padding: 1em;
    border: 1px solid #999;
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}


/** new details styles */

.tx-extbibsonomycsl-detailstable {
	
}

.tx-extbibsonomycsl-detailstable div {
}


.tx-extbibsonomycsl-detailstable-headline {
	width: 100%;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 3px 0;
	font-weight: bold;
	font-size: 1.2em;
}

.tx-extbibsonomycsl-detailstable-label {
	padding: 4px;
	margin: 0 10px 0 0;
	background: #999;
    color: #fff;
    font-weight: bold;
    line-height: 30px;	
}

.tx-extbibsonomycsl-detailstable-data {
}

.tx-extbibsonomycsl-detailstable-tag-link {
	padding: 0 5px 0 0;
	display: inline-block;
}

.tx-extbibsonomycsl-detailstable-data-abstract {
	float: left;
}

.tx-extbibsonomycsl-detailstable-clear {
	clear: both;
	height: 0;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

/* Typeahead and publication filter */
.tx-extbibsonomy-csl-typeahead-data {
    display: none !important;
}

.tx-extbibsonomy-csl-publication-filter {
    clear: both;
    height: 32px;
}

.tx-extbibsonomy-csl-publication-filter-input {
    width: 90%;
    height: 100%;
    font-size: 16px;
}

.tx-extbibsonomy-csl-publication-filter-button {
    height: 100%;
    width: 5%;
    font-size: 16px;
}

.tx-extbibsonomy-csl-publication-filter-clear {
    height: 100%;
    width: 5%;
    font-size: 16px;
}

.twitter-typeahead {
    width: 60%;
    height: 32px;
    clear: both;
}

.tt-menu {
    background: white;
}

.tt-cursor {
    background: lightgrey;
}