<f:layout name="Backend"/>
This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
{namespace bib = AcademicPuma\ExtBibsonomyCsl\ViewHelpers}
<f:section name="header">

</f:section>

<f:section name="docheader-buttons">
    <div class="left">
        <f:link.action action="list" title="{f:translate(key: 'be.menu.discard')}">
            <core:icon identifier="actions-document-close"/>
        </f:link.action>
    </div>
</f:section>
<f:section name="breadcrumbs"><span class="typo3-docheader-pagePath">PUMA/BibSonomy CSL > <f:translate
        key="be.menu.style.upload"/></span></f:section>


<f:section name="title">
    <f:translate key="be.style.upload"/>
</f:section>
<f:section name="main">

    <f:form action="upload" enctype="multipart/form-data" method="post">
        <f:form.upload name="file"/>
        <br/>
        <f:form.submit value="{f:translate(key: 'be.style.upload.submit')}"
                       title="{f:translate(key: 'be.style.upload.submit')}"/>
    </f:form>
</f:section>